
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>杭州杨军的个人网站</title>
<meta name="keywords" content="杭州,杨军,个人软件,个人相册,个人留言本">
<link rel="stylesheet" href="/static/css/style.css">
</head>

<body>

<div class="header">杭州杨军的个人网站</div>

<div class="grass">

<div class="decor tree">🌳</div>
<div class="decor bamboo">🎍</div>
<div class="decor rock">🪨</div>

<a class="animal panda" href="/software">
<img src="https://cdn-icons-png.flaticon.com/512/616/616408.png">
<div>个人软件</div>
</a>

<a class="animal cat" href="/album">
<img src="https://cdn-icons-png.flaticon.com/512/616/616430.png">
<div>个人相册</div>
</a>

<a class="animal dog" href="/links">
<img src="https://cdn-icons-png.flaticon.com/512/616/616408.png">
<div>网址收藏</div>
</a>

<a class="animal rabbit" href="/guestbook">
<img src="https://cdn-icons-png.flaticon.com/512/616/616554.png">
<div>留言本</div>
</a>

</div>

</body>
</html>
